FCS_TLSC_EXT.1.4 Updates

Finalizing updates to SFR

Unable to create a branch- will revisit when I am able

Changes made so far:
- Removed reference to RFC5246 after signature_algorithms extension (referencing only RFC8446).
- Removed IANA values trailing secp and ffdhe parameters.
- Changed all instances (not just in these four SFRs) of "ecdsa-" to "ecdsa_"

To Do:
FCS_DTLSC_EXT.1.4 and FCS_DTLSS_EXT.1.4 should often point to RFC9147 (DTLS 1.3) instead of RFC8446 (TLS 1.3) and RFC6347 (DTLS 1.2) instead of RFC5246 (TLS 1.2).
This is not necessarily a blanket change of 8446 to 9147 and 5246 to 6347 though, for two reasons:
1. Some mentions of 8446 and 5246 may stay the same (e.g. if an extension is defined in either of those RFCs)
2. Some more substantive changes may be required (e.g. DTLS may use a different extension than TLS in some instances).

Note that this change may be required for SFRs beyond FCS_DTLS(C/S)_EXT.1.4.

To Do:
In FCS_TLSS_EXT.1.5 (and maybe also (D)TLS(S/C), need to check), RFC 9151 (CNSA 1.0) (https://datatracker.ietf.org/doc/html/rfc9151 Section 4) requires either ECDH with P-384 or DH with 3072 or 4096 bit prime modulus be used, and is also okay with RSA with 3072 or 4096 prime bit modulus for (D)TLS 1.2 specifically. Formatting of the selections does not align with this. Need to update.

Question:
The phrase "key exchange message" is used several times and I'm not sure what it means. Should it be ServerHello or ClientHello?

More changes:
- Changed some instances of "key exchange" to "key establishment" but did not update in language about messages in testing activities nor in ids.
- Should "hello reset request" be "HelloRetryRequest"? Made this change. (It is also possible it could be "HelloRequest" which is defined in (D)TLS 1.2 but not 1.3. So maybe that change needs to be made instead. But "hello reset request" doesn't exist afaik).
- Changed "key share extension" to "key_share extension"
- Changed "supported version extension" to "supported_versions extension" and "supported group extension" to "supported_groups extension"

Question:
I see this excerpt, "The evaluator shall observe that the TSF presents a ClientHello indicating DTLS 1.2 (value 'fe fd') in the highest or legacy version field and, if DTLS 1.3 is supported, the "supported versions" extension is present and contains the value 'fe fc' for DTLS 1.3"

But this seems like it might contradict the supported_versions extension language in the _EXT.1.4 SFRs (which requires 1.3 support and optionally includes 1.2 support). Moreover, supported_versions was defined for (D)TLS 1.3, not 1.2. I'm not sure 1.2 can always understand it.

To Do:
In the near future, it would be good to split a lot of these SFRs into separate SFRs for TLS 1.2 and TLS 1.3 because the protocols are so different. It could be good to do this when adding in support for ML-KEM and ML-DSA, because TLS 1.2 will not support those algorithms anyway.

Question:
Should any of the SFRs relating to certificates reference RFC8603?

To Do:
Add in support for RFC 8773 PSK for TLS 1.3.

Will revisit later this week to make more edits on the outstanding topics listed above.
Would also appreciate answers to any of the questions above, and review of the two commits made in correspondence with comments 1 (https://github.com/commoncriteria/tls/commit/c9e023d45b071a70c50a93fab6ed940cc38140e5) and 5 (https://github.com/commoncriteria/tls/commit/b9ca6ea7dee84d7268af61aca2749327a1ba0157) above.

Change made:
- Changed language about (D)TLS versions (https://github.com/commoncriteria/tls/commit/443ff9dd31c2d23943abbe293e3568372f47d3fe) in alignment with old pull request for same issue (https://github.com/commoncriteria/tls/pull/27)

**Question**

**8.**

In FCS_DTLSC_EXT.1.2, the selection for TLS 1.2 ciphersuites says "and shall not offer other TLS 1.2 ciphersuites" while the selection for TLS 1.3 ciphersuites includes an assignment for "other TLS 1.3 ciphersuites"

What is the explanation for the disparity between these?

Note that this may also apply to FCS_(D)TL(C/S)_EXT.1.2 SFRs.

Change (made in https://github.com/commoncriteria/tls/commit/5d74ed1ac713346372dd0194de2aa150669e9ee4):
- Added TLS 1.2 ciphersuite allowed in RFC 9151 but missing from list here.

**Question**

**9.**

FCS_(D)TLSC_EXT.1.3 both impose a requirement on the ClientHello message, but then the application notes say, "In addition, this requirement prohibits Using Raw Public Keys in Transport Layer Security and Datagram Transport Layer Security (RFC 7250) for server certificates." This doesn't make sense because the SFR is ClientHello does not contain a server certificate.

I'm not sure what the intent was.

**Question**

**10.**

FCS_DTLSC_EXT.1.7 says, "The TSF shall [selection: terminate the DTLS session, silently discard the record] if a message received contains an invalid MAC or if decryption fails in the case of GCM and other AEAD ciphersuites."

In particular, looking at that last part "in the case of GCM and other AEAD ciphersuites" - GCM is the only AEAD ciphersuite that appears in this FP.

I think this phrasing is redundant because of that.

There are two options:
1. Just say GCM and not AEAD (this is not my preference because AES-GCM-SIV may be added in the future and then we'd have to re-expand everything to say AEAD)
2. Just say AEAD and not GCM (this is my preference - it would be clear because the description in the application note below FCS_DTLSC_EXT.1.3 implicitly states that GCM is AEAD- it could be stated explicitly as well (ideally in an application note instead of in an SFR).

**Question**

**11.**

In FCS_(D)TLS(C/S)_EXT.1.2, the way the selections are structured is inconsistent with RFC 9151.

The first three (four as of my most recent commit) ciphersuites listed (the ones that use AES_256_GCM are the ones that CNSA 1.0 says are okay for TLS 1.2. And then after that there are two ciphersuites listed that use AES_CBC, and three that use PSK, none of which are approved by CNSA 1.0.

Are there any issues with restructuring these selections to be CNSA 1.0 compliant for TLS 1.2?


> The phrase "key exchange message" is used several times and I'm not sure what it means. Should it be ServerHello or ClientHello?

From RFC: 
[7.4.3](https://datatracker.ietf.org/doc/html/rfc5246#section-7.4.3). Server Key Exchange Message
[7.4.3](https://datatracker.ietf.org/doc/html/rfc5246#section-7.4.3). Server Key Exchange Message

> > **Question**
> > **3.** The phrase "key exchange message" is used several times and I'm not sure what it means. Should it be ServerHello or ClientHello?
> > In particular, some of the phrasing I see seems a bit vague.
> > As an example, "If the TSF supports DTLS 1.2, supports DHE ciphersuites, and supports DHE groups in the supported groups extension, then for each supported DHE group, the evaluator shall send the TSF a compliant DTLS 1.2 ClientHello indicating a single ciphersuite that is compatible with the group and indicating the group in the supported groups extension. The evaluator shall observe that the TSF negotiates DTLS 1.2 using the indicated ciphersuite and that the server key exchange message indicates the specific group. The evaluator shall send the TOE a client key exchange with a valid point in the group and observe that the TSF successfully completes the session."
> > I don't really know what is meant by "send... a client key exchange" - you can perform a key exchange, but you can't send a key exchange. I think it should say ClientHello, but ClientHello wouldn't be a direct replacement for 'client key exchange' because I think the key_share extension might need to be referenced too.
> > All of this is to illustrate that some of this language might be clearer if the exact name of messages, extensions, etc. from the TLS RFCs were used.
> 
> All of the instances of the phrase "key exchange message" found in the XML refer to either the Server Key Exchange (RFC 5246 section 7.4.3) or Client Key Exchange (same RFC, section 7.4.7) messages and swapping them for a ServerHello or ClientHello would break that evaluation activity. Since TLS 1.2 and 1.3 accomplish key exchanges in disparate manners, there are equivalent test activities defined for both the discrete Client/Server Key Exchange messages as well as the key_share extension equivalent (e.g., for the quoted test activity here, the equivalent key_share activity would be: "If the TSF supports DTLS 1.3, then for each supported group the evaluator shall perform the following sub-tests: Test FCS_DTLSS_EXT.1:5.4.1: The evaluator shall send the TSF a compliant DTLS 1.3 ClientHello indicating a single key share value from the supported group and shall observe that the ServerHello includes valid elements of the supported group").
> 
> I will add to my to-do list to check if there's any replacement of prose with actual extension names that is doable here (I know there's at least one in the test activity I quoted).

RFC 5246 section 7.4.7 references the client key exchange message as being sent by the client - is this just a matter of changing the verbiage to "send a client key exchange message" vs just "send a client key exchange"? It appears to be accurate as-is though.

> **Question**
> 
> **9.**
> 
> FCS_(D)TLSC_EXT.1.3 both impose a requirement on the ClientHello message, but then the application notes say, "In addition, this requirement prohibits Using Raw Public Keys in Transport Layer Security and Datagram Transport Layer Security (RFC 7250) for server certificates." This doesn't make sense because the SFR is ClientHello does not contain a server certificate.
> 
> I'm not sure what the intent was.

The requirement is for the ClientHello not to contain a server_certificate_type=(RawPublicKey) extension/value that would permit the client to accept a raw public key from the server. See for example section 5.1 of RFC 7250 for what the acceptance case for that would look like. I don't think this needs any clarification, since it is describing the intent of what will be covered by the anon ciphersuite test.

> **Question**
> 
> **6.**
> 
> Should any of the SFRs relating to certificates reference RFC8603?
> 
> FCS_DTLSC_EXT.1.5 looks like it would be a good place.

RFC 8603 is covered in the X.509 functional package so that will be claimed and tested appropriately if the TLS implementation supports it for cert validity checking. So no change should be needed here unless I'm misinterpreting the context in which the RFC 8603 reference is being asked for.

> **Question**
> 
> **8.**
> 
> In FCS_DTLSC_EXT.1.2, the selection for TLS 1.2 ciphersuites says "and shall not offer other TLS 1.2 ciphersuites" while the selection for TLS 1.3 ciphersuites includes an assignment for "other TLS 1.3 ciphersuites"
> 
> What is the explanation for the disparity between these?
> 
> Note that this may also apply to FCS_(D)TL(C/S)_EXT.1.2 SFRs.

I believe the cause of the disparity is that TLS 1.2 ciphersuites are a fixed set at this point, but there may be new TLS 1.3 ciphersuites devised in the future that we wanted to have the package have the flexibility to include without a TD being issued. However, this does cause a problem where there is currently nothing prohibiting TLS_AES_128_GCM_SHA256 and TLS_CHACHA20_POLY1305_SHA256, which I assume we need to address. So we should probably just make it affirmatively TLS_AES_256_GCM_SHA384 and nothing else for now, and if new ciphers are needed at some point in the future, it's not a big deal to errata them in.

Changes (made since 28 May) (most recent commit is https://github.com/commoncriteria/tls/commit/57165bd4b8fb696afe3e77ef4f386cea555b1f9b):
- fixed spacing and formatting (indentations, made uniform, got rid of unnecessary new lines)
- changed certificate verify and certificate verification (message) to CertificateVerify message
- changed certificate request (message) to CertificateRequest message
- changed certificate message to Certificate message
- changed application data to Application Data (message)
- changed instances of change cipher spec or similar phrasing to ChangeCipherSpec message
- changed finished message to Finished message
- started to correct syntax of error alerts (not finished)
- deleted (type n) from after message types
- changed new ticket or new_ticket or session ticket or similar phrasing to NewSessionTicket
- consistency with capitalization in Functional Package
- changed FP to Functional Package
- changed client key exchange to ClientKeyExchange
- changed server key exchange to ServerKeyExchange
- added 'message' after (nearly) all instances of ClientHello and ServerHello
- replaced "client-side certificate" with "client certificate"

> In [046be9f](https://github.com/commoncriteria/tls/commit/046be9f5c0c0bb4f5b7612ace9bb4adb038ee796), corrected a couple of times "HelloRetryRequest" was used when it should have been "HelloRequest" (FCS_DTLSC_EXT.4:1.2.3, FCS_DTLSC_EXT.4:2.1, FCS_TLSC_EXT.4:1.2.3, FCS_TLSC_EXT.4:2.1)

Thanks! Made the same changes in https://github.com/commoncriteria/tls/commit/f62ee8e6ff3122c9300a9865d419bab8a488446d (just so I can track everything in one place).

> > **Question**
> > **10.**
> > FCS_DTLSC_EXT.1.7 says, "The TSF shall [selection: terminate the DTLS session, silently discard the record] if a message received contains an invalid MAC or if decryption fails in the case of GCM and other AEAD ciphersuites."
> > In particular, looking at that last part "in the case of GCM and other AEAD ciphersuites" - GCM is the only AEAD ciphersuite that appears in this FP.
> > I think this phrasing is redundant because of that.
> > There are two options:
> > 
> > 1. Just say GCM and not AEAD (this is not my preference because AES-GCM-SIV may be added in the future and then we'd have to re-expand everything to say AEAD)
> > 2. Just say AEAD and not GCM (this is my preference - it would be clear because the description in the application note below FCS_DTLSC_EXT.1.3 implicitly states that GCM is AEAD- it could be stated explicitly as well (ideally in an application note instead of in an SFR).
> > 
> > Note: For some reason the is no TLS SFR equivalent to FCS_DTLSC_EXT.1.7.
> 
> Changing the "in the case of GCM and other AEAD ciphersuites" to "in the case of any AEAD ciphersuite, such as AES-GCM" would be my preferred reword in line with your points.
> 
> Additionally, the lack of an FCS_TLSC_EXT.1.7 is something we have taken note of and is a potential issue.

That works for me! Made the change in https://github.com/commoncriteria/tls/commit/c4f85f24e88206935465357932b2927a6022ca05.

> > **Question**
> > **6.**
> > Should any of the SFRs relating to certificates reference RFC8603?
> > FCS_DTLSC_EXT.1.5 looks like it would be a good place.
> 
> RFC 8603 is covered in the X.509 functional package so that will be claimed and tested appropriately if the TLS implementation supports it for cert validity checking. So no change should be needed here unless I'm misinterpreting the context in which the RFC 8603 reference is being asked for.

This makes sense to me, that RFC 8603 requirements would be covered in the X.509 FP. I guess what I am confused about is why there are requirements in this FP related to RFC 5280 instead of just pointing to the X.509 FP?

> > > **Question**
> > > **6.**
> > > Should any of the SFRs relating to certificates reference RFC8603?
> > > FCS_DTLSC_EXT.1.5 looks like it would be a good place.
> > 
> > 
> > RFC 8603 is covered in the X.509 functional package so that will be claimed and tested appropriately if the TLS implementation supports it for cert validity checking. So no change should be needed here unless I'm misinterpreting the context in which the RFC 8603 reference is being asked for.
> 
> This makes sense to me, that RFC 8603 requirements would be covered in the X.509 FP. I guess what I am confused about is why there are requirements in this FP related to RFC 5280 (or other certificate-related things) instead of just pointing to the X.509 FP?

The X.509 related requirements in the TLS package are about making sure a valid certificate is used for peer authentication/key exchange whereas the X.509 FP is about what specifically defines a certificate as being "valid" - if there are any requirements or tests in the FP that you believe should be generic elements of the X.509 package rather than being in TLS specifically, can you identify those? I believe that anything we have related to them should be specifically related to their implementation in TLS that we wouldn't care about if X.509 is being used for e.g. IPsec or validation of a software update.

> > **Question**
> > **8.**
> > In FCS_DTLSC_EXT.1.2, the selection for TLS 1.2 ciphersuites says "and shall not offer other TLS 1.2 ciphersuites" while the selection for TLS 1.3 ciphersuites includes an assignment for "other TLS 1.3 ciphersuites"
> > What is the explanation for the disparity between these?
> > Note that this may also apply to FCS_(D)TL(C/S)_EXT.1.2 SFRs.
> 
> I believe the cause of the disparity is that TLS 1.2 ciphersuites are a fixed set at this point, but there may be new TLS 1.3 ciphersuites devised in the future that we wanted to have the package have the flexibility to include without a TD being issued. However, this does cause a problem where there is currently nothing prohibiting TLS_AES_128_GCM_SHA256 and TLS_CHACHA20_POLY1305_SHA256, which I assume we need to address. So we should probably just make it affirmatively TLS_AES_256_GCM_SHA384 and nothing else for now, and if new ciphers are needed at some point in the future, it's not a big deal to errata them in.

Agreed, I think if there are any ciphersuites for TLS 1.3 that need to be added in the future, we can explicitly name them- it seems best to replace the assignment for "other TLS 1.3 ciphersuites" with the "and shall not offer other ciphersuites" text used for TLS 1.2 (removing the "TLS 1.2 though).

I did not make this change because I don't want to mess up the selections, but I am noting where it is needed:

- lines 360, 1409, 2378, 3438

- and also need to delete or modify application note in line 378, 1428, 2399, 3463 (these match)

- and modify application note in line 396, 2418 (these match)