QUIC protocol in HTTP/3 seems to be prohibited

FCS_TLSC_EXT.1.4 states that the "early_data" extension cannot be used. This precludes the QUIC protocol in [HTTP/3](https://datatracker.ietf.org/doc/rfc9114/) from being used as it relies on this for speeding up the connectivity to the website. 

This is also stated in FCS_TLSC_EXT.6.2. Is there a specific reason to prevent this, and is this something that the client needs to specifically enforce since this protocol is being used actively?

Per RFC 9151 section 7.3, CNSA does not permit the use of early data because of the security concerns referenced in RFC 8446 section 2.3. Recommend closure